{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Scrapper - O nas</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>

    <div class="container">
        <header class="sticky-top">

            <!-- NAV -->
            <nav class="navbar navbar-dark navbar-expand-md">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="../static/media/hashtag.png" class="d-m-inline-block mr-1 pb-1 align-middle" alt="">
                    <span class="head-navbar d-none d-md-inline-block">Real Estate Scrapper</span>
                    <span class="d-inline-block d-md-none">RES</span>
                </a>

                <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- MENU -->
                <div class="collapse navbar-collapse" id="mainmenu">

                    <ul class="navbar-nav ml-auto">

                        <li>
                            <a class="nav-link" href="{% url 'start' %}">scrapuj!</a>
                        </li>

                        <li>
                            <a class="nav-link active" href="{% url 'aboutus' %}">o nas</a>
                        </li>

                        <li>
                            <a class="nav-link" href="{% url 'contact' %}">kontakt</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>

        <main>

            <!-- MAIN -->

            <!-- HEADING -->
            <div class="container main">
                <div class="row">
                    <div class="col-12">
                        <h1>o nas</h1>
                    </div>
                </div>

                <!-- MAIN CONTENTS -->
                <div class="row">

                    <!-- description -->
                    <div class="col-12 col-md-7 d-inline-block px-3 px-md-5 py-1">

                        <div class="container">
                            <div class="row">
                                <div>
                                    <p class="text-justify mb-4">
                                        Real Estate Scrapper jest aplikacją umożliwiającą pozyskiwanie ofert
                                        mieszkanowiowych zawartych na serwisie otodom.pl. Aplikacja wraz ze stroną
                                        internetową i API jest projektem zaliczeniowym absolwentów kursu "Python od
                                        podstaw" w szkole Software Development Academy: Piotra Wilczyńskiego,
                                        Volodymyra Moshchowskyi'ego i Ernesta Nowaka.
                                        <br><br>
                                        Nasza aplikacja oferuje szybki dostęp do ofert mieszkań wybranych po określonych
                                        kryteriach. Lista ofert jest zwięzła - każda jej pozycja zawiera w sobie tytuł i
                                        cenę ogłoszenia, a zainteresowanych odsyła do szczegółów, które informują o
                                        wszystkich istotnych parametrach mieszkania.
                                        <br><br>
                                        Nasza aplikacja, mimo że juz teraz jest dostępna dla użytkowników, jest nadal
                                        rozwijana, a w przyszłości dodawane będą kolejne funkcjonalności i obsługa
                                        innych serwisów.
                                        <br><br>
                                    </p>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- photo -->
                    <div class="col-12 col-md-5 order-first order-md-last d-inline-block">
                        <p><img class="img-fluid shadow" src="../static/media/appartment.jpg"
                                                          alt="Black hole"></p>
                    </div>
                </div>

            </div>
        </main>
    </div>
    <div class="container">

        <footer>

            <!-- FOOTER -->
            <div class="row fixed-bottom footer">
                <div class="col-12 col-md-4 d-none d-md-inline-block">
                    <p>Junior Python Developer project</p>
                </div>
                <div class="col-12 col-md-4">
                    <p>&copy; SDA Scrapper Team, 2020</p>
                </div>
                <div class="col-12 col-md-4 order-first order-md-last">
                    <a href="{% url 'contact' %}">kontakt</a>
                </div>
            </div>
        </footer>
    </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
</html>