{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Scrapper - Szczegóły oferty</title>

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<div class="container">
        <header class="sticky-top">

            <!-- NAV -->
            <nav class="navbar navbar-dark navbar-expand-md">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="../static/media/hashtag.png" class="d-m-inline-block mr-1 pb-1 align-middle" alt="">
                    <span class="head-navbar d-none d-md-inline-block">Real Estate Scrapper</span>
                    <span class="d-inline-block d-md-none">RES</span>
                </a>

                <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- MENU -->
                <div class="collapse navbar-collapse" id="mainmenu">

                    <ul class="navbar-nav ml-auto">

                        <li>
                            <a class="nav-link" href="{% url 'start' %}">scrapuj!</a>
                        </li>

                        <li>
                            <a class="nav-link" href="{% url 'aboutus' %}">o nas</a>
                        </li>

                        <li>
                            <a class="nav-link" href="{% url 'contact' %}">kontakt</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="row contact-row">
                    <div class="col-12 col-md-12">
                        <div class="row">

                            <div class="col-12">
                                <a href="{% url 'flat_list' %}" style="font-size: 15px;"> >>> powrót do listy ogłoszeń</a>
                            </div>

                            <div class="col-12 col-md-12 text-center">
                                <h2 class="mt-3 mb-3">Szczegóły ogłoszenia:</h2>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 mt-4">
                                    <ul class="list-group-flush">
                                        <li class="list-group-item mb-2">Tytuł ogłoszenia: <br>{{ flat.title }}</li>
                                        <li class="list-group-item mb-2">Kod oferty: <br>{{ flat.code }}</li>
                                        <li class="list-group-item mb-2">Link bezpośredni: <br><a href ={{ flat.url }}>{{ flat.url }}</a></li>
                                        <li class="list-group-item mb-2">Cena: <br>{{ flat.price }}</li>
                                        <li class="list-group-item mb-2">Cena za m&sup2: <br>{{ flat.price_m2 }}</li>
                                        <li class="list-group-item mb-2">Liczba pokoi: <br>{{ flat.rooms }}</li>
                                        <li class="list-group-item mb-2">Powierzchnia: <br>{{ flat.area }}m&sup2</li>
                                        <li class="list-group-item mb-2">Miasto / dzielnica: <br>{{ flat.city }} / {{ flat.district }} </li>
                                        <li class="list-group-item mb-2">Zdjęcie:
                                        <a href="{{ flat.foto }}">Kliknij by zobaczyć zdjęcie.</a></li>
                                    </ul>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </main>


        <footer>

            <!-- FOOTER -->
            <div class="row fixed-bottom footer">
                <div class="col-12 col-md-4 d-none d-md-inline-block">
                    <p>Junior Python Developer project</p>
                </div>
                <div class="col-12 col-md-4">
                    <p>&copy; SDA Scrapper Team, 2020</p>
                </div>
                <div class="col-12 col-md-4 order-first order-md-last">
                    <a href="{% url 'contact' %}">kontakt</a>
                </div>
            </div>
        </footer>
    </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
</html>

