{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Scrapper - Lista</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>

    <div class="container">
        <header class="sticky-top">

            <!-- NAV -->
            <nav class="navbar navbar-dark navbar-expand-md">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="../static/media/hashtag.png" class="d-m-inline-block mr-1 pb-1 align-middle" alt="">
                    <span class="head-navbar d-none d-md-inline-block">Real Estate Scrapper</span>
                    <span class="d-inline-block d-md-none">RES</span>
                </a>

                <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- MENU -->
                <div class="collapse navbar-collapse" id="mainmenu">

                    <ul class="navbar-nav ml-auto">

                        <li>
                            <a class="nav-link" href="{% url 'start' %}">scrapuj!</a>
                        </li>

                        <li>
                            <a class="nav-link" href="{% url 'aboutus' %}">o nas</a>
                        </li>

                        <li>
                            <a class="nav-link" href="{% url 'contact' %}">kontakt</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>

        <main>
            <div class="container">
                <div class="row contact-row">
                    <div class="col-12 col-md-12">
                        <div class="row">
                            <div class="col-12 text-center">
                                <h2>Lista ofert mieszkaniowych:</h2>
                            </div>
                        </div>

                        <!-- OFFER LIST -->
                        <div class="row">
                            <div class="col-12 mt-4">
                                <ul class="list-group">
                                    {% for flat in flats %}
                                <li class="list-group-item mb-2">
                                    {{ flat.title }} <br> Cena: {{ flat.price }}zł
                                    <h6 class="ml-3 mt-2"><a href="{% url 'flat_details' flat.id %}">Szczegóły</a></h6>
                                </li>

                                    {% endfor %}

                                </ul>
                                    <a href="{% url 'start' %}">Wróć do wyszukiwarki mieszkań</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <div class="container">

        <footer>

            <!-- FOOTER -->
            <div class="row fixed-bottom footer">
                <div class="col-12 col-md-4 d-none d-md-inline-block">
                    <p>Junior Python Developer project</p>
                </div>
                <div class="col-12 col-md-4">
                    <p>&copy; SDA Scrapper Team, 2020</p>
                </div>
                <div class="col-12 col-md-4 order-first order-md-last">
                    <a href="{% url 'contact' %}">kontakt</a>
                </div>
            </div>
        </footer>
    </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
</html>