{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real Estate Scrapper - Witamy!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>
<body>

    <div class="container">
        <header class="sticky-top">

            <!-- NAV -->
            <nav class="navbar navbar-dark navbar-expand-md">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="../static/media/hashtag.png" class="d-m-inline-block mr-1 pb-1 align-middle" alt="">
                    <span class="d-inline-block d-md-none">RES</span>
                </a>

                <button class="navbar-toggler order-first" type="button" data-toggle="collapse" data-target="#mainmenu"
                aria-controls="mainmenu" aria-expanded="false" aria-label="Navigation switch">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- MENU -->
                <div class="collapse navbar-collapse" id="mainmenu">

                    <ul class="navbar-nav ml-auto">

                        <li>
                            <a class="nav-link" href="{% url 'start' %}">scrapuj!</a>
                        </li>

                        <li>
                            <a class="nav-link" href="{% url 'aboutus' %}">o nas</a>
                        </li>

                        <li>
                            <a class="nav-link" href="{% url 'contact' %}">kontakt</a>
                        </li>
                    </ul>

                </div>
            </nav>
        </header>

        <main>

            <!-- MAIN -->

            <div class="container text-center" style="height: 500px">
                <div class="row h-25">
                    <div class="col-12">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 py-2">
                        <h1>Real Estate Scrapper</h1>
                        <h4 style="margin-top: -10px; margin-bottom: 30px;">
                            aplikacja pozyskująca dane dot. ofert z portalu otodom.pl
                        </h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <h2 style="color: #ff6600;">Junior Python Developer project</h2>
                        <h6 style="margin-top: 50px;">
                            kliknij <button style="margin-top: -7px;" class="btn btn-lg btn-outline-light ml-2 mr-2 align-middle">
                            <a href="{% url 'start' %}">tutaj</a></button>, by skorzystać z funkcjonalności serwisu</h6>
                    </div>
                </div>
            </div>

        </main>
    </div>
    <div class="container">

        <footer>

            <!-- FOOTER -->
            <div class="row fixed-bottom footer">
                <div class="col-12 col-md-4 d-none d-md-inline-block">
                    <p>Junior Python Developer project</p>
                </div>
                <div class="col-12 col-md-4">
                    <p>&copy; SDA Scrapper Team, 2020</p>
                </div>
                <div class="col-12 col-md-4 order-first order-md-last">
                    <a href="{% url 'contact' %}">kontakt</a>
                </div>
            </div>
        </footer>
    </div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>


</body>
</html>

</body>
</html>