@font-face {
  font-family: futura_font;
  src: url(../media/fonts/futura-book.otf);
}

.container
{
    height: 40vh;
}

header
{
    background-color: #0c0c14;
}

html
{
    height: 100%;
}

body
{
    background-color: #0c0c14;
    font-family: futura_font;
    color: #f4f4fc;
    font-size: 17px;
}

.navbar
{
    margin-top: 10px;
    min-height: 50px;

}

.navbar-nav li:hover, li:hover>.dropdown-menu
{
    display: block;
    color: #ff6600;
}

.active
{
    color: #ff6600 !important;
    cursor: default;
    pointer-events: none;
}

.dropdown-item:hover
{
    background-color: #f4f4fc;
    color: #ff6600;
}

.main
{
    padding: 20px;
    margin-top: 20px;
    height: 800px;
}

.footer
{
    text-align: center;
    font-size: 12px;
    border-top: 1px solid white;
    padding: 10px;
    background-color: #0c0c14;
    margin-bottom: -10px;
}

a, a:hover
{
    color: #ff6600;
}

.list-unstyled > li
{
   padding: 2px;
}

.list-group-item
{
    background-color: #0c0c10;
}

.skills
{
    padding: 50px;
    margin-bottom: 100px;
}




   .contact-row
    {
        padding: 100px;
        font-size: 20px;
    }
}

@media (min-width: 1920px)
{
    body
    {
        font-size: 24px;
    }

    .footer
    {
        font-size: 17px;
    }
}

@media (max-width: 500px)
{
    .skills
    {
        padding: 2px;
    }
}

#contact_details
{
    border-bottom: solid white 1px;
    position: absolute;
}